<h5>お気に入りのパン屋さんをシェアしよう！</h5>
<h6>記事一覧</h6>

<table class="table table-striped table-bordered table-sm">
    <tr>
      <th class="text-center">ユーザ名</th>
      <th class="text-center">タイトル</th>
      <th class="text-center">記事（一部）</th>
    </tr>
     <% @articles.each do |article| %>
    <tr>
      <td class="text-center"><%= article.user.name %></td>
      <td class="text-center"><%= link_to article.title, article_path(article) %></td>
      <td class="table-center"><%= article.text .truncate(24)%>
      </td>
    </tr>
      <% end %>
</table>
 <%= paginate @articles %>
